---
layout: default
---
<div id="main">

    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if site.author %} • {{ site.author }}{% endif
                %}{% if page.comments %} • <span class="disqus-comment-count" data-disqus-identifier="{{page.id}}">N Comments</span>{%
                endif %}</p>
        </header>

        <section>
            {{ content }}
        </section>
        {% if page.unsplash %}
        <footer id="post-footer"> Photo by {{page.unsplash}}</footer>
        {% endif %}
        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

            var disqus_config = function () {
                this.page.url = "{{ site.url }}{{ page.url | replace:'index.html',''}}";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://david-polynar-vs-the-world.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>

        {% endif %}

        <footer>
            <div class="row">
            {% if page.previous %}
            
                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
                    Előző poszt
                    <header>
                        <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.previous.excerpt | markdownify }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.previous.url }}" class="button">Tovább</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}
            
            {% if page.next %}
                
                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
                Következő poszt
                    <header>
                        <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
                    </header>
                    <section>
                        {{ page.next.excerpt | markdownify }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.next.url }}" class="button">Tovább</a></li>
                        </ul>
                    </footer>
                </article>
            {% endif %}
            </div>
        </footer>

    </article>

</div>
