---
layout: default
---
<div id="main">

    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
        </header>

        <section>
            {{ content }}
        </section>



        <footer>
            <div class="row">
                {% if page.previous %}

                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
                    Előző poszt
                    <header>
                        <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
                    </header>
                    <section>
                        <a href="{{ page.previous.url }}" class="image fit thumb"><img src="{{ page.previous.img-url }}" alt="" /></a>
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.previous.url }}" class="button">Tovább</a></li>
                        </ul>
                    </footer>
                </article>
                {% endif %}

                {% if page.next %}

                <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
                    Következő poszt
                    <header>
                        <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
                    </header>
                    <section>
                        <a href="{{ page.next.url }}" class="image fit thumb"><img src="{{ page.next.img-url }}" alt="" /></a>
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.next.url }}" class="button">Tovább</a></li>
                        </ul>
                    </footer>
                </article>
                {% endif %}
            </div>
        </footer>

    </article>

</div>
